<div id="content">
	<section class="list_header">
		<div id="description">
			<h2>A little bit about it. </h2>

		</div>
	</section>
	<div id="about">
<p>The Best Of is a lightweight app that takes a Twitter list or user and returns the recent tweets with a link, sorted by the number of retweets. Designed and engineered by <a href="http://blog.chrissutton.me">Chris Sutton</a>.</p>
<p> The backend is built with Ruby, running on <a href="http://www.sinatrarb.com/">Sinatra</a> and hosted by <a href="http://www.heroku.com/">Heroku</a>. </p>
<p>Frontend using <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>, <a href="http://www.prototypejs.org/">prototype.js</a>, <a href="http://fgnass.github.com/spin.js/">spin.js</a> and <a href="http://script.aculo.us/">script.aculo.us</a>.</p>
<p><a href="https://github.com/christophersutton/twit_feed/">Source</a> on github.</p>
	</div>	
</div>
