<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--<link rel="stylesheet" type="text/css" href="http://chrissutton.me/assets/sutton.css" />-->
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<title>The Best Of - Top Tweets</title>
	<script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js"></script>
	<script type="text/javascript" language="Javascript" src="spin.js"></script>
	<script type="text/javascript" src="http://use.typekit.com/ckc1jjd.js"></script>
	<script type="text/javascript">
//<![CDATA[
	try{Typekit.load();}catch(e){}
	//]]>
	</script>
	<meta http-equiv="x-dns-prefetch-control" content="off"/>
</head>
