
<% @filtered_data.each do |a| %>
<div class="col300 article">
	<p><%= a[0] %></p>
	<a href="http://twitter.com/<%= a[1] %>">@<%= a[1] %></a>
<p class="timestamp"><%= a[3] %> Retweets</p>
</div>
<% end %>
