<div id="content">
	<section class="list_header">
		<div id="description" style="display:none">
			<script>homeDescription()</script>
		</div>
	</section>
	<div id="tweets">
		<%= erb :spinner %>
		<script>homeTweets()</script>
	</div>	
</div>
