<%= erb :head %>
<body>
	<%= erb :header %>
<div id="content">
	<div id="tweets">
		<div id="spinner">
		</div>
		<script>
			var target = document.getElementById('spinner');
			var spinner = new Spinner().spin(target);
			new Ajax.Updater('tweets', '/', { method: 'post' });
		</script>
	</div>
</div>
</body>
