<% content_for :header do %>
<div id="header">
		<h1 class="blog">
			<a href="http://chrissutton.me/">Chris Sutton</a> <span class="sub">presents</span> The Best Of
		</h1>
		<h3> The freshest links from some of the best folks out there.</h3>
	</div>
<% end %>

<% @filtered_data.each do |a| %>
<div class="col300 article">
	<p><%= a[0] %></p>
	<a href="http://twitter.com/<%= a[1] %>">@<%= a[1] %></a>
<p class="timestamp"><%= a[3] %> Retweets</p>
</div>
<% end %>
