<%= erb :head %>
<body>
	<%= erb :sidebar %>
	<div id="content">
		<section class="list_header">
			<div id="description" style="display:none">
				<script>
				new Ajax.Updater('description', "#{params[:username]}/#{params[:list]}", { 
					method: 'post', 
					parameters: { description: 'yes' },
					onSuccess: function(){new Effect.Appear('description', {duration: 0.3 });}
				});
				</script>
			</div>
		</section>
		<%= erb :spinner %>
		<div id="tweets" style="display:none">
				<script>
				new Ajax.Updater('tweets', "#{params[:username]}/#{params[:list]}", { 
					method: 'post',
					onSuccess: function(){new Effect.Fade('spinner', {duration: 0.3 });
					new Effect.Appear('tweets', {duration: 0.3 });
					}
				});
				</script>
			
	
				</div>	
			</div>
		</body>
