<%= erb :head %>
<body>
	<%= erb :header %>
<div id="content">
	<div id="tweets">
		<%= erb :spinner %>
		<script>
			new Ajax.Updater('tweets', "#{params[:username]}/#{params[:list]}", { method: 'post' });
		</script>
	</div>
</div>
</body>
