	<div id="content">
		<section class="list_header">
			<div id="description" style="display:none">
				<script>listDescription()</script>
			</div>
		</section>
		<div id="tweets">
			<%= erb :spinner %>
			<script>listTweets()</script>
		</div>	
	</div>
