	<aside>
		<h1>The Best Of</h1>
		<p>We find what other people found interesting and put it right here.</p>
		<h3>Technology</h3>
		<ul>
			<li><a href="/scobleizer/tech-news-brands">@scobleizer/tech-news-brands</a></li>
			<li><a href="/kitson/thought-leaders">@kitson/thought-leaders</a></li>
			<li><a href="">Celebretity</a></li>
		</ul>
		<h3>Design</h3>
		<ul>
			<li><a href="/scobleizer/tech-news-brands">Technology</a></li>
			<li><a href="">Politics</a></li>
			<li><a href="">Celebretity</a></li>
		</ul>
		<h3>Media</h3>
		<ul>
			<li><a href="/nwjerseyliz/media-tv-print-radio">@nwjerseyliz/media-tv-print-radio</a></li>
			<li><a href="/Jason_Pollock/great-content">@Jason_Pollock/great-content</a></li>
			<li><a href="">Celebretity</a></li>
		</ul>
		<h3>General Interest</h3>
		<ul>
			<li><a href="/Jason_Pollock/great-content">@Jason_Pollock/great-content</a></li>
			<li><a href="/nwjerseyliz/media-tv-print-radio">@nwjerseyliz/media-tv-print-radio</a></li>
			<li><a href="">Anthropology</a></li>
		</ul>
	</aside>