<aside>
	<h1>The Best Of</h1>
	<p>The freshest links around.</p>
	<h3>Technology</h3>
	<ul>
		<li><a href="/scobleizer/tech-news-brands">@scobleizer/tech-news-brands</a></li>
		<li><a href="/kitson/thought-leaders">@kitson/thought-leaders</a></li>
		<li><a href="/joshelman/awesomesocial">@joshelman/awesomesocial</a></li>
	</ul>
	<h3>Design</h3>
	<ul>
		<li><a href="/behance/creatives-to-watch">@behance/creatives-to-watch</a></li>
		<li><a href="/behoff/top-design-blogs">@behoff/top-design-blogs</a></li>
		<li><a href="/carsonified/top-web-designers">@carsonified/top-web-designers</a></li>
		<li><a href="/justcreative/no-blab-just-design-links">@justcreative/no-blab-just-design-links</a></li>
	</ul>
	<h3>Media</h3>
	<ul>
		<li><a href="/nwjerseyliz/media-tv-print-radio">@nwjerseyliz/media-tv-print-radio</a></li>
		<li><a href="/courtenaybird/digital-and-social-media">@courtenaybird/digital-and-social-media</a></li>
		<li><a href="/nytimes/multimedia-journalism">@nytimes/multimedia-journalism</a></li>
	</ul>
	<h3>General Interest</h3>
	<ul>
		<li><a href="/Jason_Pollock/great-content">@Jason_Pollock/great-content</a></li>
		<li><a href="/palafo/linkers">@palafo/linkers</a></li>
		<li><a href="/xeus/anthropology">@xeus/anthropology</a></li>
	</ul>
</aside>