
		<div id="spinner">
		<script>
			var target = document.getElementById('spinner');
			var spinner = new Spinner().spin();
			target.appendChild(spinner.el);
		</script>
		<p class="loading">Fetching data from Twitter</p>
 		</div>