		<p class="loading">Fetching data from Twitter</p>
		<div id="spinner">
		</div>
		<script>
			var target = document.getElementById('spinner');
			var spinner = new Spinner().spin(target);
		</script>