<%= erb :head %>
<body>
<div id="header">
		<h1>
		The Best Of
		</h1>
		<h3> The freshest links from the best folks out there.</h3>
	</div>
<div id="content">
	<div id="tweets">
		<div id="spinner">
		</div>
		<script>
			var target = document.getElementById('spinner');
			var spinner = new Spinner().spin(target);
			new Ajax.Updater('tweets', "#{params[:user]}", { method: 'post' });
		</script>
	</div>
</div>
</body>
