	<div id="content">
		<section class="list_header">
			<div id="description" style="display:none">
				<script>userDescription()</script>
			</div>
		</section>
		<div id="tweets">
			<%= erb :spinner %>
			<script>userTweets()</script>
		</div>
	</div>

